.score-input__container {
  margin: 0;
  width: 100%;
}

.score-input__div {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

.score-input__error {
  font-size: 12px;
}

.score-input__container {
  height: 35px;
}

.score-input__container input {
  margin-top: 16px;
}
