article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  color: #141417;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background: #fff;
}

body {
  --color-text: #000;
  --color-bg: #fff;
  --color-link: #000;
  --color-link-hover: #000;
  --color-info: #000;
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;
  color: #57585c;
  color: var(--color-text);
  background-color: #fff;
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Page Loader */
.js .loading::before {
  content: "";
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  content: "";
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  pointer-events: none;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.message {
  position: relative;
  z-index: 100;
  display: none;
  padding: 1em;
  text-align: center;
  color: var(--color-bg);
  background: var(--color-text);
}

/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}

main {
  position: relative;
  margin: 0 auto;
  --nav-link: #fff;
  --nav-link-hover: #2855c68c;
}

.grid__item {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100vw;
}

.grid__item--bg {
  background-color: var(--item-bg);
  height: 100vw;
}

.grid__item-content {
  width: 100%;
  padding: 4vw 7vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--item-bg);
  pointer-events: none;
}

.grid__item--bg .grid__item-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.grid__item-img {
  display: block;
  height: 100%;
  width: 100%;
}

.grid__item-img canvas {
  height: 100%;
}

.grid__item-img img {
  height: 100%;
  display: block;
}

.grid__item-img img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.grid__item:hover .grid__item-img img:nth-child(2) {
  opacity: 1;
}

.js .grid__item-img img {
  display: none;
}

.grid__item-title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1;
  margin: 0;
  color: var(--item-title);
}

.grid__item-title--small {
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}

.grid__item-meta {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.25rem;
  font-size: 0.95rem;
  color: var(--item-meta);
}

.grid__item-subtitle {
  display: block;
  font-weight: 400;
  font-size: 24px;
  color: var(--item-subtitle);
}

.grid__item-subtitle span {
  display: block;
}

.grid__item-text {
  font-size: 1rem;
  line-height: 1.75;
  margin: 2rem 0 0 0;
  color: var(--item-text);
}

.grid__item-link {
  display: inline-block;
  color: currentColor;
  font-weight: 700;
  font-size: 16px;
  pointer-events: auto;
  color: var(--nav-link);
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 0 30px;
}

.grid__item-link:focus,
.grid__item-link:hover {
  color: var(--nav-link-hover);
}

.grid__item-link + .grid__item-link {
  margin: 0 0 0 3rem;
}

.grid__item-text + .grid__item-link {
  white-space: nowrap;
  margin-top: 1rem;
  align-self: flex-start;
  margin-top: auto;
}

.grid__item-nav {
  display: flex;
  padding: 30px 7vw;
  text-align: left;
  font-size: 21px;
  line-height: 23px;
  background: #ff8989;
}

.grid__item-nav--2 {
}

.grid__item-nav a:first-child {
  padding-left: 0;
}

.grid__item-nav a:last-child {
  padding-right: 0;
}

.grid__item-nav a {
  width: 51%;
}

.grid__item-nav .grid__item-divider {
  width: 17%;
  margin: auto;
}

.grid__item-divider {
  width: 46px;
  height: 3px;
  content: "";
  background: #ff8989;
  overflow: hidden;
  text-indent: -9999px;
}

.grid__item-nav a:first-child:before {
  width: 0;
}

.grid__item-intro {
  margin: auto;
}

.grid__item-searchbox {
  width: 380px;
  height: 40px;
  border: 3px solid #141417;
  margin: 70px 0;
}

/* Themes */
.theme-1 {
  --item-bg: #fff;
  --item-link: #141417;
  --item-link-hover: #0d2936;
  --item-meta: #141417;
  --item-title: #141417;
  --item-subtitle: #141417;
  --item-text: #141417;
}

.theme-2 {
  /*--item-bg: rgba(0,0,0,0.2);*/
  --item-link: #fff;
  --item-link-hover: #fff;
  --item-meta: #fff;
  --item-title: #fff;
  --item-subtitle: #fff;
  --item-text: #fff;
}

@media screen and (min-width: 85em) {
  .grid__item-text {
    width: 80%;
  }
}

@media screen and (min-width: 50em) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
  }
  .grid__item {
    height: 97vh;
    width: 100%;
  }
  .grid__item.num-2 {
    height: 100vmin;
    width: 100%;
  }
  .grid__item-subtitle * {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
    transition: all 0.5s cubic-bezier(0.2, 1, 0.7, 1);
    transition-property: transform, opacity;
  }
  .grid__item:hover .grid__item-subtitle * {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .grid__item:hover .grid__item-subtitle span {
    transition-delay: 0.1s;
  }
  .grid__item:hover .grid__item-subtitle .grid__item-link {
    transition-delay: 0s;
  }
  .grid__item-title {
    font-size: 5vw;
  }
  .grid__item-title--small {
    font-size: 3vw;
  }
  .grid__item-text {
    margin-top: 2.5rem;
  }
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 35px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.search-container {
  width: 490px;
  display: block;
  margin-top: 40px;
  position: relative;
  pointer-events: auto;
}

.search-container a {
  width: 75px;
  height: 75px;
  position: absolute;
  top: -15px;
  right: 0;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  outline: none;
}

input#search-bar:focus {
  border: 1px solid #141417;
  transition: 0.35s ease;
  color: #141417;
}

input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-icon {
  width: 75px;
  height: 75px;
}
