/*---------- CARDS LAYOUT ----------*/
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.cards-item {
  width: 100%;
  height: 270px;
  margin-right: 2%;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  margin-top: 0;
  border: 1px solid #d0cfce;
  border-radius: 0;
}

.no-flexbox .cards-item {
  float: left;
}

@media screen and (min-width: 42em) and (max-width: 60em) {
  .cards-item {
    width: 48%;
  }
  .no-flexbox .cards-item:nth-child(2n + 1) {
    clear: both;
  }
}

@media screen and (min-width: 60em) {
  .cards-item {
    width: 32%;
  }
  .no-flexbox .cards-item:nth-child(3n + 1) {
    clear: both;
  }
}

@media all and (max-width: 671px) {
  .cards-item {
    margin-right: 0px;
  }
}

.cards-item--last {
  margin-right: 0px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.card_image img {
  width: 100%;
  border-top-left-radius: -1px;
  border-top-right-radius: -1px;
}

.card_content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-top: 0;
  padding: 1.5em;
  position: relative;
}

.card_content p {
  flex: 1 0 auto;
}

.card_content:hover {
  transform: scale(1.03);
  transition-duration: 0.24s;
}
