html {
  background: #fff;
}

body {
  --color-text: #000;
  --color-bg: #fff;
  --color-link: #000;
  --color-link-hover: #000;
  --color-info: #000;
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;
  color: #57585c;
  color: var(--color-text);
  background-color: #fff;
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Page Loader */
.js .loading::before {
  content: "";
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  content: "";
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  pointer-events: none;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.message {
  position: relative;
  z-index: 100;
  display: none;
  padding: 1em;
  text-align: center;
  color: var(--color-bg);
  background: var(--color-text);
}

/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}

main {
  position: relative;
  margin: 0 auto;
  --nav-link: #fff;
  --nav-link-hover: #2855c68c;
}

.landing-grid__item {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100vw;
}

.landing-grid__item--bg {
  background-color: var(--item-bg);
  height: 100vw;
}

.landing-grid__item-content {
  width: 100%;
  padding: 4vw 7vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--item-bg);
  pointer-events: none;
}

.landing-grid__item--bg .landing-grid__item-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.landing-grid__item-img {
  display: block;
  height: 100%;
  width: 100%;
}

.landing-grid__item-img canvas {
  height: 100%;
}

.landing-grid__item-img img {
  height: 100%;
  display: block;
}

.landing-grid__item-img img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.landing-grid__item:hover .landing-grid__item-img img:nth-child(2) {
  opacity: 1;
}

.js .landing-grid__item-img img {
  display: none;
}

.landing-grid__item-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 50px;
  color: var(--item-title);
}

.landing-grid__item-title--small {
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}

.landing-grid__item-meta {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.25rem;
  font-size: 0.95rem;
  color: var(--item-meta);
}

.landing-grid__item-subtitle {
  display: block;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: 50px;
  color: var(--item-subtitle);
}

.landing-grid__item-subtitle span {
  display: block;
}

.landing-grid__item-text {
  font-size: 1rem;
  line-height: 1.75;
  margin: 2rem 0 0 0;
  color: var(--item-text);
}

.landing-grid__item-link {
  display: inline-block;
  color: currentColor;
  font-weight: 700;
  font-size: 16px;
  pointer-events: auto;
  color: var(--nav-link);
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 0 30px;
}

.landing-grid__item-link:focus,
.landing-grid__item-link:hover {
  color: var(--nav-link-hover);
}

.landing-grid__item-link + .landing-grid__item-link {
  margin: 0 0 0 3rem;
}

.landing-grid__item-text + .landing-grid__item-link {
  white-space: nowrap;
  margin-top: 1rem;
  align-self: flex-start;
  margin-top: auto;
}

.landing-grid__item-nav {
  display: flex;
  padding: 30px 7vw;
  text-align: left;
  font-size: 21px;
  line-height: 23px;
  background: #ff8989;
}

.landing-grid__item-nav a:first-child {
  padding-left: 0;
}

.landing-grid__item-nav a:last-child {
  padding-right: 0;
}

.landing-grid__item-nav a {
  width: 51%;
}

.landing-grid__item-nav .landing-grid__item-divider {
  width: 17%;
  margin: auto;
}

.landing-grid__item-divider {
  width: 46px;
  height: 3px;
  content: "";
  background: #ff8989;
  overflow: hidden;
  text-indent: -9999px;
}

.landing-grid__item-nav a:first-child:before {
  width: 0;
}

.landing-grid__item-intro {
  margin: auto;
  width: 100%;
}

.landing-mobile .landing-grid__item-intro {
  padding: 100px 50px;
  text-align: center;
}

.landing-grid__item-searchbox {
  width: 380px;
  height: 40px;
  border: 3px solid #141417;
  margin: 70px 0;
}

/* Menu */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 40vw;
  z-index: 100;
}

.js .menu {
  pointer-events: none;
}

.js .menu--open {
  pointer-events: visible;
}

.menu__inner {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 20vh 7vw;
  margin: 0;
  background: #fcd98d;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.menu__item {
  padding: 0.15em;
}

.js .menu__item {
  transform: translate3d(-13em, 0, 0);
  transition: transform 0s 0.4s;
}

.menu--open .menu__item,
.menu--open .btn--close {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.4s 0.135s, transform 0.4s 0.135s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu--open .menu__item:nth-child(2) {
  transition-delay: 0.165s;
}

.menu--open .menu__item:nth-child(3) {
  transition-delay: 0.195s;
}

.menu--open .menu__item:nth-child(4) {
  transition-delay: 0.225s;
}

.menu .menu__link {
  font-size: 2.5vw;
  line-height: 1.5;
  color: var(--item-link);
  font-weight: bold;
}

.menu .menu__link:hover,
.menu .menu__link:focus {
  outline: none;
  color: var(--item-link-hover);
  text-decoration: line-through;
}

.btn-nav {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  color: inherit;
}

.btn-nav:focus {
  outline: none;
}

.btn--menu {
  position: absolute;
  top: 3vw;
  right: 7vw;
  color: #939391;
  pointer-events: visible;
  width: 50px;
  height: 50px;
  z-index: 3;
}

.btn--close {
  position: absolute;
  top: 3vw;
  right: 7vw;
  font-size: 0.75em;
  z-index: 100;
}

.btn--close {
  opacity: 0;
  color: var(--item-link);
}

.btn--close:hover,
.btn--close:focus {
  color: var(--item-link-hover);
}

/* Themes */
.landing-grid--left {
  --item-bg: #fff;
  --item-link: #141417;
  --item-link-hover: #0d2936;
  --item-meta: #141417;
  --item-title: #141417;
  --item-subtitle: #141417;
  --item-text: #141417;
}

.landing-grid--right {
  --item-link: #fff;
  --item-link-hover: #000;
  --item-meta: #fff;
  --item-title: #fff;
  --item-subtitle: #fff;
  --item-text: #fff;
}

@media screen and (min-width: 768px) {
  .landing-grid {
    display: grid;
    grid-template-columns: 60vw 40vw;
  }
  .landing-grid__item {
    height: 97vh;
    width: 100%;
  }
  .landing-grid__item.num-2 {
    height: 100vmin;
    width: 100%;
  }
  .landing-grid__item-subtitle * {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
    transition: all 0.5s cubic-bezier(0.2, 1, 0.7, 1);
    transition-property: transform, opacity;
  }
  .landing-grid__item:hover .landing-grid__item-subtitle * {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .landing-grid__item:hover .landing-grid__item-subtitle span {
    transition-delay: 0.1s;
  }
  .landing-grid__item:hover
.landing-grid__item-subtitle
.landing-grid__item-link {
    transition-delay: 0s;
  }
  .landing-grid__item-title {
    font-size: 2.4rem;
  }
  .landing-grid__item-title--small {
    font-size: 3vw;
  }
  .landing-grid__item-text {
    margin-top: 2.5rem;
  }
  .landing-mobile {
    opacity: 0;
    height: 0px;
  }
  .landing-grid {
    opacity: 1;
    height: inherit;
  }
}

@media all and (max-width: 768px) {
  .landing-grid {
    opacity: 0;
    height: 0px;
  }
  .landing-mobile {
    opacity: 1;
    height: inherit;
  }
  /* logo */
  .logo-mobile {
    padding: 3vw 0;
  }
  /* nav */
  .nav-mobile {
    display: flex;
    justify-content: space-between;
    align-item: center;
  }
  /* Menu */
  .menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100vw;
    z-index: 100;
  }
  .js .menu-mobile {
    pointer-events: none;
  }
  .js .menu-mobile--open {
    pointer-events: visible;
  }
  .menu-mobile__inner {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding: 20vh 7vw;
    margin: 0;
    background: #fcd98d;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .menu-mobile__item {
    padding: 0.15em;
  }
  .js .menu-mobile__item {
    transform: translate3d(-13em, 0, 0);
    transition: transform 0s 0.4s;
  }
  .menu-mobile--open .menu-mobile__item,
  .menu-mobile--open .btn-mobile--close {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.4s 0.135s, transform 0.4s 0.135s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .menu-mobile--open .menu-mobile__item:nth-child(2) {
    transition-delay: 0.165s;
  }
  .menu-mobile--open .menu-mobile__item:nth-child(3) {
    transition-delay: 0.195s;
  }
  .menu-mobile--open .menu-mobile__item:nth-child(4) {
    transition-delay: 0.225s;
  }
  .menu-mobile .menu-mobile__link {
    font-size: 6.5vw;
    line-height: 1.5;
    color: var(--item-link);
    font-weight: bold;
  }
  .menu-mobile .menu-mobile__link:hover,
  .menu-mobile .menu-mobile__link:focus {
    outline: none;
    color: var(--item-link-hover);
    text-decoration: line-through;
  }
  .btn-mobile--menu {
    color: #939391;
    pointer-events: visible;
    width: 40px;
    height: 40px;
    z-index: 3;
    margin: auto 0;
  }
  .btn-mobile--close {
    font-size: 0.75em;
    z-index: 100;
    position: absolute;
    right: 7vw;
    top: 3vw;
  }
  .btn-mobile--close {
    opacity: 0;
    color: var(--item-link);
  }
  .btn-mobile--close:hover,
  .btn-mobile--close:focus {
    color: var(--item-link-hover);
  }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .landing-grid__item-subtitle {
    font-size: 25px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .landing-grid__item-subtitle {
    font-size: 20px;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .landing-grid__item-subtitle {
    font-size: 16px;
  }
}

@media all and (max-width: 480px) {
  .landing-grid__item-subtitle {
    font-size: 14px;
  }
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.landing-mobile .material-icons {
  font-size: 30px;
}
